$mainColorBackground: rgb(57, 51, 51);
$leftMainBackground: rgb(255,255,255);
$leftMainBackgroundGradient: black;
$centerMainBackground: rgb(255, 255, 255);
$rightMainBackgroundNightGradient: linear-gradient(170deg, rgb(24, 88, 198) 0%, rgba(0,0,0,1) 100%);
$rightMainBackgroundDayGradient: linear-gradient(170deg, rgb(239, 185, 37) 0%, rgba(0,0,0,1) 100%);
$cardBackground: rgb(229, 226, 226);
$icoColor: rgb(18,92,218);